html,
body,
#app {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #020617;
  color: #e2e8f0;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

.perspective-1000 {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.markdown-content {
  background: unset;
}

[class*=language-] {
  position: relative;
}

[class*=language-]>span.lang {
  z-index: 2;
  -webkit-user-select: none;
  user-select: none;
  color: var(--vp-code-lang-color);
  font-size: 12px;
  font-weight: 500;
  transition: color .4s, opacity .4s;
  position: absolute;
  top: 2px;
  right: 8px;
}